# Archivos de configuración
config.js
config.production.js

# Archivos del sistema
.DS_Store
Thumbs.db

# Dependencias
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de entorno
.env
.env.local
.env.*.local

# Archivos de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de compilación
dist/
build/
*.log 